div{
    height: 100px;
    width: 400px;
    /* margin-top: 30px; */
    border: 3px solid black;
    text-align: center;
    transition: 2s ease-in-out 0.2s;
    margin: 30px auto;
}

#One:hover{
    
    transform: rotate(45deg);
    

}

#Two:hover{
    transform: scale(1.5);
}
#Three:hover{
    transform: skew(30deg);
}
#Four:hover{
    transform: translate(50px,-50px);
}
#Five:hover{
    box-shadow: -8px -8px 10px rgb(0, 17, 128);
}

#back{
    background-image: url(photo.jpg);
    background-size: cover;
}